<!DOCTYPE html>
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="shortcut icon" type="image/x-icon" href="/Common/Images/favicon.ico">
    <!-- Meta for viewport -->
    <meta name="viewport" content="initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="common/styles/main.css" media="all" />
  </head>
  <body >

    <div class="container-fluid" style="height: 100%;">
      <div style="display: table; width: 100%; height: 100%;">
        <div style="display: table-cell; vertical-align: middle; text-align: center;">
          <div style="display: inline-block;">

            <!-- MY AWESOME BUTTONS -->

            <div class="q-card compressed">
              <div class="compressed-content-wrap">
                <div class="compressed-content">
                  <div class="a-icon i-mcq">
                    <div class="shape indent">
                    </div>
                    <div class="shape d spin">
                      <span class="e"></span>
                    </div>
                    <div class="shape reverse-indent">
                    </div>
                    <div class="shape c dot right">
                    </div>
                    <div class="shape answer">
                    </div>
                    <div class="shape r r1 highlight dot right">
                    </div>
                    <div class="shape r r2 highlight answer end">
                    </div>
                    <div class="shape dot right">
                    </div>
                    <div class="shape r r3 answer">
                    </div>
                    <div class="shape r r4 dot right">
                    </div>
                    <div class="shape answer end">
                    </div>
                  </div>
                  <label>Multiple choices</label>
                  <div class="add-icon">
                  </div>
                </div>
              </div>
              <div class="decompressed-content-wrap">
                <div class="container-fluid">
                  <div class="row form-group">
                    <div class="col-sm-3">
                      <label for="mcq-q">Question</label>
                      <em>Lorem ipsum dolor sitar...</em>
                    </div>
                    <div class="col-sm-9">
                      <textarea id="mcq-q" placeholder="Write your question here" class="form-control" rows="5"></textarea>
                    </div>
                  </div>
                  <div class="row form-group">
                    <div class="col-sm-3">
                      <label>Answer(s)</label>
                      <em>You can add as many possible answer as you want. Just remember to select at least one as the correct answer.</em>
                    </div>
                    <div class="col-sm-9">
                      <button class="btn btn-primary">
                        Add Answer
                      </button>
                    </div>
                  </div>
                  <div class="row form-group">
                    <div class="col-sm-3">
                      <label>Tag(s)</label>
                      <em>Enter a maximum of 10 keywords. They will be helpful when you want to search for this question.</em>
                    </div>
                    <div class="col-sm-9">
                      <div class="form-control">
                        <span class="badge">lorem</span>
                        <span class="badge">ipsum</span>
                        <span class="badge">dolor</span>
                        <span class="badge">sultan</span>
                        <input class="blend" type="text" placeholder="Add a tag"/>
                      </div>
                    </div>
                  </div>
                  <div class="row form-group">
                    <div class="col-sm-3">
                    </div>
                    <div class="col-sm-9">
                      <button class="btn btn-success btn-lg">
                        Save question
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="q-card compressed">
              <div class="compressed-content-wrap">
                <div class="compressed-content">
                  <div class="a-icon i-short-answer">
                    <div class="shape  d spin indent">
                      <span class="e"></span>
                    </div>
                    <div class="shape  r r1">
                      
                    </div>
                    <div class="shape c  reverse-indent">
                      
                    </div>
                    <div class="shape indent highlight r r2">
                    </div>
                    <div class="shape reverse-indent highlight r r3">
                    </div>
                  </div>
                  <label>Short answer</label>
                  <div class="add-icon">
                  </div>
                </div>
              </div>
            </div>

            <div class="q-card compressed">
              <div class="compressed-content-wrap">
                <div class="compressed-content">
                  <div class="a-icon i-fill-in-blanks">
                    <div class="shape d spin i-fill-in-blanks-1">
                      <span class="e"></span>
                    </div>
                    <div class="shape i-fill-in-blanks-2 highlight">
                    </div>
                    <div class="shape i-fill-in-blanks-3">
                    </div>
                    <div  class="shape i-fill-in-blanks-4 highlight">
                    </div>
                    <div  class="shape c i-fill-in-blanks-5">
                    </div>
                    <div  class="shape r r1 i-fill-in-blanks-6">
                    </div>
                    <div  class="shape i-fill-in-blanks-7">
                    </div>
                    <div  class="shape i-fill-in-blanks-8 highlight">
                    </div>
                    <div  class="shape r r2 i-fill-in-blanks-9">
                    </div>
                    <div  class="shape i-fill-in-blanks-10">
                    </div>
                    <div  class="shape r r3 i-fill-in-blanks-11 highlight">
                    </div>
                    <div  class="shape i-fill-in-blanks-12">
                    </div>
                    <div  class="shape r r4 i-fill-in-blanks-13 highlight">
                    </div>
                    <div  class="shape i-fill-in-blanks-14">
                    </div>
                  </div>
                  <label>Fill the blanks</label>
                  <div class="add-icon">
                  </div>
                </div>
              </div>
            </div>


            <div class="q-card compressed">
              <div class="compressed-content-wrap">
                <div class="compressed-content">
                  <div class="a-icon i-match">
                    <div class="shape">
                    </div>
                    <div class="shape d spin dot left">
                      <div class="e"></div>
                    </div>
                    <div class="shape dot right">
                    </div>
                    <div class="shape c end">
                    </div>
                    <div class="shape highlight">
                    </div>
                    <div class="shape r r1 dot left highlight">
                    </div>
                    <div class="shape dot right">
                    </div>
                    <div class="shape r r2 end">
                    </div>
                    <div class="shape">
                    </div>
                    <div class="shape r r3 dot left">
                    </div>
                    <div class="shape dot right">
                    </div>
                    <div class="shape r r4 end">
                    </div>
                    <div class="shape">
                    </div>
                    <div class="shape dot left">
                    </div>
                    <div class="shape highlight dot right">
                    </div>
                    <div class="shape highlight end">
                    </div>
                    <div class="shape">
                    </div>
                    <div class="shape dot left">
                    </div>
                    <div class="shape dot right">
                    </div>
                    <div class="shape end">
                    </div>
                    <div class="shape match highlight">
                    </div>
                  </div>
                  <label>Pair matching</label>
                  <div class="add-icon">
                  </div>
                </div>
              </div>
            </div>

            <!-- THat's the end -->


          </div>
        </div>
      </div>
    </div>

    
    <script type="text/javascript" src="common/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="common/scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="common/scripts/main.js"></script>
  </body>    
</html>
